<table class="table table-bordered">
    <thead>
        {% for column in spreadsheet.columns %}
            <th>
                {{ column.name }}
            </th>
        {% endfor %}
    </thead>
    <tbody>
        {% for row in list %}
            <tr>
                {% for column in spreadsheet.columns %}
                    <td>
                        {{ row[column.name]|default('') }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
